.usersPage {
  padding: 24px 20px;
  background: #fbfbfb;
  overflow-x: hidden;

  h1 {
    font-size: 24px;
    color: #213f7d;
    margin-bottom: 40px;
    font-weight: 500;
  }

  .statsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .statsCard {
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;

    .icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 14px;

      &.users {
        background: rgba(223, 24, 255, 0.1);
      }
      &.active {
        background: rgba(87, 24, 255, 0.1);
      }
      &.loans {
        background: rgba(245, 95, 68, 0.1);
      }
      &.savings {
        background: rgba(255, 51, 102, 0.1);
      }
    }

    .label {
      font-size: 14px;
      color: #545f7d;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    .value {
      font-size: 24px;
      color: #213f7d;
      font-weight: 600;
    }
  }

  // For medium and small screens, display two cards per row
  @media (max-width: 768px) {
    .statsGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
