@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.sidebar {
  font-family: "Work Sans", sans-serif;
  background-color: #fff;
  padding: 20px;
  color: #555;
  transition: transform 0.3s ease-in-out;

  .section {
    margin-bottom: 20px;

    .sectionTitle {
      font-size: 12px;
      font-weight: bold;
      color: #545f7d;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .menuItem {
      display: flex;
      align-items: center;
      padding: 10px;
      color: #213f7d;
      font-size: 14px;
      transition: background 0.3s;
      text-decoration: none;

      &:hover {
        background-color: #e0e4e8;
      }

      &.active {
        background-color: #dfeaf4;
        color: #1a73e8;
      }

      .icon {
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    &.mobileClosed {
      transform: translateX(-100%);
    }

    &.mobileOpen {
      transform: translateX(0);
    }
  }
}

.mobileMenuToggle {
  display: none;

  @media (max-width: 768px) {
    display: block;
    position: absolute;
    // top: 15px;
    left: 10px;
    z-index: 1100;
    background: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}
